<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Axios and NYTimes API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
</head>
<body>
    <div id="app" class="container">
        <h3 class="text-center">Vue News</h3>
        <!--<news-list :results="results"></news-list>-->
        <section class="callout secondary">
            <h5 class="text-center">Filter by Category</h5>
            <form>
                <div class="row">
                    <div class="large-6 columns">
                        <select v-model="section">
                            <option v-for="section in sections" :value="section">{{ section }}</option>
                        </select>
                    </div>
                    <div class="medium-6 columns">
                        <a @click="getPosts(section)" class="button expanded">Retrieve</a>
                    </div>
                </div>
            </form>
        </section>

        <news-list :results="results"></news-list>
    </div>
<!-- include Vue here  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="app.js"></script>
</body>
</html>